# Creates lightweight csv for Google Earth Engine

Author: Ivan Zvonkov

Date: Nov 15, 2023

In [28]:
import pandas as pd
from pathlib import Path

In [3]:
df = pd.read_csv("../../data/datasets/SudanGedarefDarfurAlJazirah2022.csv")

In [5]:
df.head()

,lon,lat,class_probability,num_labelers,plotid,sampleid,email,start_date,end_date,subset,eo_status,eo_data,eo_lat,eo_lon,eo_file
0,22.746379,11.840540,0.5,2,0,0,"gmuhawen@asu.edu,mcsatish@asu.edu",2022-01-01,2023-07-31,validation,eo_data_complete,"[[-14.20754054158039, -27.53902823294526, 1600...",11.840559,22.746376,min_lat=11.8398_min_lon=22.7456_max_lat=11.841...
1,23.035368,12.185749,0.0,2,1,1,"adadebay@umd.edu,bhanu.dharam.tokas@gmail.com",2022-01-01,2023-07-31,training,eo_data_complete,"[[-16.057135503631706, -22.664907311659146, 15...",12.185782,23.035364,min_lat=12.185_min_lon=23.0346_max_lat=12.1865...
2,23.705528,11.895207,0.0,2,2,2,"adadebay@umd.edu,mcsatish@asu.edu",2022-01-01,2023-07-31,training,eo_data_complete,"[[-12.293445057769814, -22.474981978276553, 16...",11.895177,23.705507,min_lat=11.8945_min_lon=23.7048_max_lat=11.895...
3,23.955610,12.954778,1.0,2,3,3,"aasareansah@gmail.com,mcsatish@asu.edu",2022-01-01,2023-07-31,validation,eo_data_complete,"[[-17.543296205591762, -26.832723915812014, 14...",12.954739,23.955598,min_lat=12.9541_min_lon=23.9549_max_lat=12.955...
4,23.605060,11.552391,0.0,2,4,4,"adadebay@umd.edu,bhanu.dharam.tokas@gmail.com",2022-01-01,2023-07-31,testing,eo_data_complete,"[[-16.53173845904822, -23.670555850697205, 172...",11.552379,23.605076,min_lat=11.5517_min_lon=23.6043_max_lat=11.553...

In [19]:
df["class_probability"].value_counts(normalize=True)

0.0    0.521739
1.0    0.304348
0.5    0.173913
Name: class_probability, dtype: float64

In [22]:
df = df[df["class_probability"] != 0.5]

In [27]:
df[df["subset"] == "testing"]["plotid"].to_csv("SudanGedarefDarfurAlJazirah2022_testing_plot_ids.csv", index=False)

In [24]:
barebones_df = df[["lat", "lon", "subset", "class_probability"]].copy()
barebones_df.head()

         lat        lon      subset  class_probability
1  12.185749  23.035368    training                0.0
2  11.895207  23.705528    training                0.0
3  12.954778  23.955610  validation                1.0
4  11.552391  23.605060     testing                0.0
5  12.666935  23.645026     testing                0.0

In [15]:
barebones_df.to_csv("SudanGedarefDarfurAlJazirah2022_gee_set.csv", index=False)

In [29]:
Path("SudanGedarefDarfurAlJazirah2022_gee_set.csv").unlink()
Path("SudanGedarefDarfurAlJazirah2022_testing_plot_ids.csv").unlink()