### CEO Meta-Analysis - Crop Land Mapping
**Author:** Benjamin Yeh (by253@cornell.edu / byeh1@umd.edu) <br>
**Description:** This notebook contains:
1. Code to generate dataframe containing meta information from labeler sets 
2. Code to generate statistics from meta dataframe

In [1]:
import numpy as np
import pandas as pd
from src.meta_utils import create_meta_dataframe

#### 1. Generate Meta Dataframe 

The steps for generating the meta dataframe are outlined below:
* User defines parameters of project:

* Meta dataframe is generated by the following process:

In [2]:
# USER DEFINE CELL

# Define a helper function here
#   -> 
path_fn = lambda s : f"data/ceo-Namibia-North-Jan-2020---Dec-2020-({s})-sample-data-2022-04-20.csv"

In [3]:
meta_dataframe = create_meta_dataframe(path_fn)
meta_dataframe.head()

           Loading dataframes from file...
---------------------------------------------------
Native dataframe shapes   : (1202, 13) , (1200, 13)
Asymmetry found, attempting to make symmetry...
Adjusted dataframe shapes : (1200, 13) , (1200, 13)
NaN values found, dropping rows containing NaNs...
Adjusted dataframe shapes : (1184, 13) , (1200, 13)
              Computing disagreements...
---------------------------------------------------
Disagreements between labeler sets 1 and 2 : 100

,plotid,sampleid,lon,lat,set_1_email,set_2_email,set_1_analysis_duration,set_2_analysis_duration,set_1_label,set_2_label
0,98,98,20.092149,-18.244727,engineer.arnoldmuhairwe@gmail.com,logdaye@gmail.com,1968.2 secs,5.8 secs,Crop,Non-crop
1,112,112,15.519508,-18.065644,engineer.arnoldmuhairwe@gmail.com,logdaye@gmail.com,466.5 secs,57.2 secs,Crop,Non-crop
2,117,117,15.176386,-17.773564,engineer.arnoldmuhairwe@gmail.com,logdaye@gmail.com,311.8 secs,23.3 secs,Crop,Non-crop
3,130,130,19.402004,-18.897718,engineer.arnoldmuhairwe@gmail.com,logdaye@gmail.com,297.8 secs,16.4 secs,Crop,Non-crop
4,135,135,20.263010,-17.941122,engineer.arnoldmuhairwe@gmail.com,logdaye@gmail.com,2611.4 secs,5.5 secs,Crop,Non-crop